.TodoTemplate {
  width: 512px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem;
  border-radius: 4px;
  overflow: hidden;
	
  .app-title {
      background: #22b8cf;
      color: white;
      height: 4rem;
      font-size: 1.5rem;
      display: flex;      //justify-content, align-items, align-self, flex-direction, flex-flow 이용시 display: flex 필수
      align-items: center;    //y축 가운데정렬
      justify-content: center;    //x축 가운데정렬
  }
  .content {
      background: white;
  }
}